FAUCET_SEED=
FAUCET_PRIVATE_KEY=
DISCORD_BOT_TOKEN=

DEFAULT_VERBOSE=yes
REST_PROVIDER=http://127.0.0.1:1317
RPC_PROVIDER=http://127.0.0.1:26657
CHAIN_ID=lava
CHAIN_DENOMINATION=ulava
CHAIN_BECH32_HRP=lava@
CHAIN_DECIMAL=1e6
TX_GAS_PRICE=100000
TX_GAS_LIMIT=100000
TX_AMOUNT_TO_SEND=100000
TX_DENOMINATION_LIST=ulava
FAUCET_CHANNELS_TO_LISTEN=faucet
FAUCET_REQUEST_TIMEOUT=86400
FAUCET_ADDRESS=lava@1jwr5sxgwvnvv59g94pkexlnqt5aklesf2psupz
OPTIONAL_EXPLORER_URL=https://bd.lavanet.xyz
BLOCK_TIME_SECONDS=30
