[Unit]
Description="Discord faucet bot"

[Service]
User=root
WorkingDirectory=/root/lava-discord-faucet
ExecStart=/root/lava-discord-faucet/venv/bin/python3 discord_faucet_bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
