aiofiles==0.6.0
aiohttp
async-timeout
attrs==20.2.0
bech32==1.2.0
chardet==3.0.4
discord
discord.py
hdwallets==0.1.2
wheel==0.36.2
idna==2.10
idna-ssl==1.1.0
mnemonic==0.20
multidict==4.7.6
setuptools
six==1.15.0
typing-extensions==3.7.4.3
yarl==1.5.1
tabulate
mospy-wallet
cosmospy
python-dotenv

